body {
  font-family: 'Alata', sans-serif;
  font-size: 16px;
}

code {
  font-size: 0.75rem;
}

.title-lg {
  font-size: 6rem;
}

.title-md {
  font-size: 3rem;
}

.title-sm {
  font-size: 1.5rem;
}
